<h2>Ng If page</h2>
<hr>
<div class="row">
    <div class="col-3">
        <div class="bg-success p-3" *ngIf="div1Visible">
            Div 1
        </div>
    </div>
    <div class="col-3" *ngIf="varText1 == varText2">
        <div class="bg-primary p-3">
            Div 2
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-3 text-center">
        <!-- <button class="btn btn-danger" (click)="div1Visible = false">Hide</button>
        <button class="btn btn-success mx-3" (click)="div1Visible = true">Show</button> -->
        <button class="btn btn-danger" (click)="hideDiv1()">Hide2</button>
        <button class="btn btn-success mx-3" (click)="showDiv1()">Show2</button>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="varText1" />
        <input type="text" [(ngModel)]="varText2" />
    </div>
    {{varText1 == varText2}}
</div>