<h2>Resource API page</h2>
<hr>
<div class="row">
    <div class="col-3">
        {{ userList.hasValue() }}
    </div>
    <div class="col-3">
        <ul>
            @for (item of userList.value(); track $index) {
                <li> {{ item.name }} - {{ item.username }}</li>
            }
        </ul>
    </div>
    <div class="col-3">
        {{ userList.isLoading() }}
    </div>

    <div class="col-3">
        <button class="btn btn-success" (click)="reloadData()">Reload page</button>
    </div>
</div>