<h2>Control Flow page</h2>
<hr>
<div class="row">
    <div class="col-3">
        @if(div1Visible == true) {
            <div class="bg bg-success p-3">
                Div 1
            </div>
        }

    </div>
    <div class="col-3">
        @if(isChecked == true) {
            <div class="bg-primary p-3">
                Checkbox is Checked!
            </div>
        }@else {
            <div class="bg-secondary p-3">
                Checkbox is Unchecked!
            </div>
        }
    </div>
    <div class="col-3">
        @if(dayName == "mon") {
            <span>Monday</span>
        } @else if(dayName == "tue"){
            <span>Tuesday</span>
        } @else if(dayName == "wed"){
            <span>Wednesday</span>
        } @else if(dayName == "thu"){
            <span>Thursday</span>
        } @else if(dayName == "fri"){
            <span>Friday</span>
        } @else if(dayName == "sat"){
            <span>Saturday</span>
        } @else if(dayName == "sun"){
            <span>Sunday</span>
        } @else {
            <span>Enter Proper Day Shortname</span>
        }
    </div>
</div>

<div class="row pt-4">
    <div class="col-3">
        <button class="btn btn-success m-2" (click)="hideShowDiv1(true)">Show</button>
        <button class="btn btn-danger m-2" (click)="hideShowDiv1(false)">Hide</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked" />
        {{ isChecked }}
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="dayName" maxlength="3" placeholder="Enter Day starting" />
    </div>
</div>

<hr>
<div class="row">
    <div class="col-3">
        <select name="" id="">
            @for(item of cityList; track $index) {
                <option value="item">{{ item }}</option>
            }
        </select>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Emmployee ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                @for(item of employeeArray; track $index) {
                    <tr>
                        <td>{{ item.empId }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.contactNo }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
