<h2>Reactive Form page</h2>
<hr>
<div class="container">
    <h2>User Form</h2>
    <form class="row g-3" (ngSubmit)="onUserSave()" [formGroup]="userForm">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" formControlName="firstName" class="form-control" id="validationCustom01" value="Mark">
    <div class="text-danger">
        @if(userForm.controls['firstName'].errors?.['required'] && userForm.controls['firstName'].touched) {
            <span >This is Required</span>
        }
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" formControlName="lastName" class="form-control" id="validationCustom02" value="Otto">
    <div class="text-danger">
        @if(userForm.controls['lastName'].touched) {
            @if(userForm.controls['lastName'].errors?.['required']) {
                <span >This is Required</span>
            }
            @if(userForm.controls['lastName'].errors?.['minlength']) {
                <span >Min 2 char needed</span>
            }  
        }
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
      <input type="text" formControlName="userName" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend">
      <div class="text-danger">
        @if(userForm.controls['userName'].errors?.['required'] && userForm.controls['userName'].errors?.['email']) {
            <span >This is Required</span>
        }
       </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">City</label>
    <input type="text" formControlName="city" (keyup)="onValidateCity()" class="form-control" id="validationCustom03">
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select formControlName="state" class="form-select" id="validationCustom04">
      <option selected disabled value="">Choose...</option>
        <option value="Caloocan City">Caloocan City</option>
        <option value="Cubao">Cubao</option>
        <option value="Marikina">Marikina</option>
        <option value="Cainta">Cainta</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" formControlName="zip" class="form-control" id="validationCustom05">
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" formControlName="isAggree" type="checkbox" value="" id="invalidCheck">
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" [disabled]="!userForm.valid" type="submit">Submit form</button>
    <!-- <button class="btn btn-primary" (click)="onUserSave()" >Submit form</button> -->
  </div>
</form>
</div>