<h2>Ng Style page</h2>
<hr>
<div class="row">
    <div class="col-3 p-4" [ngStyle]="{'background-color': div1BackColor, 'color': 'blue'}">
         Div 1
    </div>
    <div class="col-3 p-4" [ngStyle]="{'background-color': isChecked == true ? 'teal' : 'blue'}">
        Div 2
    </div>
    <div class="col-3 p-4" [ngStyle]="myCss">My Css Obj</div>
</div>
<div class="row pt-4">
    <div class="col-3">
        <button class="btn btn-success" (click)="addDiv1Color('green')">Green</button>
        <button class="btn btn-danger" (click)="addDiv1Color('red')">Red</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked" />
    </div>
</div>