    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                @for (col of colArray; track $index) {
                    <th>{{col}}</th>
                }
            </tr>
        </thead>
        <tbody>
            <!-- 1st approach -->
            <!-- @for (gridData of gridDataList; track $index) {
                <tr>
                    <td>{{gridData.name}}</td>
                    <td>{{gridData.address.city}}</td>
                    <td>{{gridData.email}}</td>
                    <td>{{gridData.phone}}</td>
                </tr>
            } -->

            <!-- 2nd approach. much more dynamic -->
            @for (item of gridDataList; track $index) {
                <tr>
                    @for (col of colArray; track $index) {
                        <td>{{ col == 'city' ? item['address'][col] : item[col] }}</td>
                    }
                </tr>
            }

        </tbody>
    </table>