<h2>Ng Class page</h2>
<hr>
<div class="row">
    <div class="col-3 p-3" [ngClass]="div1BgColor">
        Div 1
    </div>
    <div class="col-3 p-3" [ngClass]="isChecked == true ? 'bg-warning' : 'bg-info'">
        Div 2
    </div>
    <div class="col-3 p-3" [ngClass]="div3ClassName">
        Div 3
    </div>
    <div [class]="div1BgColor">
        Div 4
    </div>
</div>

<div class="row pt-3">
    <div class="col-3">
        <button class="bt btn-success" (click)="addDiv1Color('bg-success')">Add Green</button>
        <button class="bt btn-danger" (click)="addDiv1Color('bg-danger')">Add Danger</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheck()" />
        <!-- <input type="checkbox" [(ngModel)]="isChecked" (change)="onCheck()" /> -->
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="div3ClassName">
    </div>
</div>